@font-face {
  font-family: body;
  src: url(./font/AUTHENTICSans-90.otf);
}

body {
  font-family: body;
  --text-primary: #FF5C00;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.page {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-top: 124px;
}

/* Nav */
nav { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0px 24px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.header-links, .header-cart-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-primary) !important;
  cursor: pointer;
}
.header-links > a {
  color: var(--text-primary);
  text-decoration: none;
  padding-bottom: 4px;
}
.header-links.selected, .header-links > a:hover {
  border-bottom: 1px solid var(--text-primary);
}
.header-links > *:not(:last-child) {
  margin-right: 16px;
}
.header-cart-link > *:not(:last-child) {
  margin-right: 4px;
}

/* Card */
.card-container {
  color: var(--text-primary);
  position: relative;
  width: 100%;
  height: 0px;
  padding-top: 157%;
  overflow: hidden;
  margin: 12px;
}
.card-image-underlay,
.card-graphic-overlay,
.card-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  object-position: center;
}
.card-title {
  position: absolute;
  top: 2.2%;
  left: 2%;
  width: 57%;
  text-align: center;
}
.card-price {
  position: absolute;
  top: 83%;
  width: 15%;
  left: 2%;
  text-align: center;
}
.card-image-underlay {
  top: 6%;
  height: 83%;
  object-fit: cover;
}
.card-graphic-overlay {
  background-size: contain;
}
.prev-button {
  position: absolute;
  top: 25%;
  left: 2%;
  height: 50%;
  width: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -moz-user-select: none;
}
.next-button {
  position: absolute;
  top: 25%;
  right: 2%;
  height: 50%;
  width: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* Products */
.products-grid {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
